// $color-biege-light: #f0e3c3;
// $color-beige-dark: #b0a289;
$color-biege-light: #c8ba97;
$color-beige-dark: #a28f72;
$color-blue-light: #3e4f72;
$color-blue-dark: #303441;
$color-purple: #261830;
$color-purple-light: #35294d;
