.title {
  font-family: "Playfair Display", serif;
  margin: 8rem 0;
  background: linear-gradient(to right bottom, #420c47, #065a60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 4.5rem;
  letter-spacing: 0.25rem;
  z-index: 2;
}
@media (max-width: 975px) {
  .title {
    font-size: 4rem;
  }
}
@media (max-width: 875px) {
  .title {
    font-size: 3.5rem;
  }
}
@media (max-width: 775px) {
  .title {
    font-size: 3rem;
  }
}
@media (max-width: 675px) {
  .title {
    font-size: 2.5rem;
  }
}
@media (max-width: 575px) {
  .title {
    font-size: 2rem;
  }
}
@media (max-width: 525px) {
  .title {
    margin: 6rem 0;
  }
}
@media (max-width: 475px) {
  .title {
    font-size: 1.5rem;
  }
}
@media (max-width: 375px) {
  .title {
    font-size: 1.25rem;
  }
}
@media (max-width: 325px) {
  .title {
    font-size: 1rem;
  }
}

.mainWrapper {
  height: 130vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 550px) {
  .mainWrapper {
    height: 230vw;
  }
}
@media (max-width: 500px) {
  .mainWrapper {
    height: 225vw;
  }
}
@media (max-width: 475px) {
  .mainWrapper {
    height: 250vw;
  }
}
@media (max-width: 415px) {
  .mainWrapper {
    height: 275vw;
  }
}
@media (max-width: 375px) {
  .mainWrapper {
    height: 290vw;
  }
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #065a60;
  height: 45%;
}
@media (max-width: 975px) {
  .imageWrapper {
    height: 40%;
  }
}
@media (max-width: 575px) {
  .imageWrapper {
    height: 35%;
  }
}
@media (max-width: 550px) {
  .imageWrapper {
    display: none;
    /* height: 0; */
  }
}

.paragraphWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5rem;
  font-size: 1.75rem;

  font-family: "Playfair Display", serif;
  background-color: #065a60;
  color: #fff;
}

@media (max-width: 1475px) {
  .paragraphWrapper {
    font-size: 1.6rem;
  }
}
@media (max-width: 1250px) {
  .paragraphWrapper {
    font-size: 1.5rem;
  }
}
@media (max-width: 1140px) {
  .paragraphWrapper {
    font-size: 1.25rem;
  }
}
@media (max-width: 999px) {
  .paragraphWrapper {
    padding: 4rem;
  }
}

@media (max-width: 715px) {
  .paragraphWrapper {
    padding: 3rem;
  }
}

@media (max-width: 580px) {
  .paragraphWrapper {
    padding: 2rem;
    font-size: 1.15rem;
  }
}
@media (max-width: 550px) {
  .paragraphWrapper {
    height: 150vw;
  }
}
@media (max-width: 475px) {
  .paragraphWrapper {
    font-size: 1rem;
    height: 160vw;
  }
}
@media (max-width: 400px) {
  .paragraphWrapper {
    height: 170vw;
  }
}
@media (max-width: 375px) {
  .paragraphWrapper {
    height: 190vw;
  }
}

.aboutVideo {
  /* color: #200e36; */
  color: hsl(269, 92%, 5%);
  font-size: 2.35rem;
  text-decoration: underline;
  letter-spacing: 0.35rem;
}

@media (max-width: 1155px) {
  .aboutVideo {
    font-size: 2rem;
  }
}

@media (max-width: 1050px) {
  .aboutVideo {
    font-size: 1.75rem;
  }
}

@media (max-width: 425px) {
  .aboutVideo {
    font-size: 1.5rem;
  }
}

.aboutLinksWrapper {
  height: 35vh;
  color: #065a60;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1135px) {
  .aboutLinksWrapper {
    height: 25vh;
  }
}
@media (max-width: 575px) {
  .aboutLinksWrapper {
    height: 5vh;
  }
}
@media (max-width: 550px) {
  .aboutLinksWrapper {
    height: 1rem;
  }
}

.linkAreaTitle {
  background: linear-gradient(to right bottom, #420c47, #065a60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
  font-size: 3rem;
  text-decoration: underline;
}
@media (max-width: 800px) {
  .linkAreaTitle {
    font-size: 2.5rem;
  }
}
@media (max-width: 650px) {
  .linkAreaTitle {
    font-size: 2rem;
  }
}
@media (max-width: 525px) {
  .linkAreaTitle {
    font-size: 1.5rem;
  }
}
@media (max-width: 400px) {
  .linkAreaTitle {
    font-size: 1.25rem;
  }
}

.linksWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15rem;
}
@media (max-width: 1135px) {
  .linksWrapper {
    margin-bottom: 20rem;
  }
}
@media (max-width: 575px) {
  .linksWrapper {
    margin-bottom: 25rem;
  }
}

.aboutLinks {
  color: #065a60;
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  padding-bottom: 0.75rem;
}
@media (max-width: 575px) {
  .aboutLinks {
    font-size: 1.5rem;
  }
}
@media (max-width: 450px) {
  .aboutLinks {
    font-size: 1.25rem;
  }
}
@media (max-width: 400px) {
  .aboutLinks {
    font-size: 1rem;
  }
}

.footerLogo {
  border-radius: 50%;
}
