.title {
  font-family: "Playfair Display", serif;
  margin: 8rem 0;
  background: linear-gradient(to right bottom, #420c47, #065a60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 4.5rem;
  letter-spacing: 0.25rem;
  z-index: 2;
}

.mainWrapper {
  height: 100vh;
  display: flex;
}

.imageWrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #065a60;
}

.paragraphWrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  font-size: 1.75rem;

  font-family: "Playfair Display", serif;
  background-color: #065a60;
  color: #fff;
}

.aboutVideo {
  /* color: #200e36; */
  color: hsl(269, 92%, 5%);
  font-size: 2.35rem;
  text-decoration: underline;
  letter-spacing: 0.35rem;
  padding-left: 9rem;
}

.aboutLinksWrapper {
  height: 60vh;
  color: #065a60;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linkAreaTitle {
  background: linear-gradient(to right bottom, #420c47, #065a60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
  font-size: 3rem;
  text-decoration: underline;
}

.linksWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutLinks {
  color: #065a60;
  text-decoration: none;
  font-size: 2rem;
}

.footerLogo {
  border-radius: 50%;
}
