.cartTitle {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 5rem;
  font-size: 4.5rem;
  letter-spacing: 0.25rem;
  background: linear-gradient(to right bottom, #420c47, #065a60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cartItemWrapper {
  margin: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cartImg {
  border-radius: 50%;
}

.checkoutButtonAndTotalPriceWrapper {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.checkoutButton {
  background-color: #065a60;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 1.25rem;
  height: 4rem;
  width: 20rem;
  max-width: 18rem;
  border-radius: 3%;
  border: white;
}

.checkoutButton:hover {
  transform: scale(1.05);
  box-shadow: 0 1.1rem 3.1rem rgba(0, 0, 0, 0.4);
  background-color: #08565c;
  transform: translateY(-0.5rem);
  transition: all 0.15s;
}

.checkoutButton:active {
  transform: translateY(0);
  transition: all 0.15s;
}

.footerWrapper {
  margin-top: 8rem;
}
