.cartTitle {
  text-align: center;
  margin-top: 5rem;
  font-size: 4.5rem;
  letter-spacing: 0.25rem;
  background: linear-gradient(to right bottom, #420c47, #065a60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cartItemWrapper {
  margin: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cartImg {
  border-radius: 50%;
}
