.eventsTitle {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-size: 5.2rem;
  letter-spacing: 0.25rem;
  background: linear-gradient(to right bottom, #420c47, #065a60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 800px) {
  .eventsTitle {
    font-size: 4.5rem;
    letter-spacing: 0.2rem;
  }
}
@media (max-width: 675px) {
  .eventsTitle {
    font-size: 4rem;
    letter-spacing: 0.15rem;
  }
}
@media (max-width: 600px) {
  .eventsTitle {
    font-size: 3.5rem;
    letter-spacing: 0.15rem;
  }
}
@media (max-width: 525px) {
  .eventsTitle {
    font-size: 3rem;
    letter-spacing: 0.1rem;
  }
}

.aboveTableText {
  text-align: center;
  font-size: 1.35rem;
}
@media (max-width: 675px) {
  .aboveTableText {
    font-size: 1.15rem;
  }
}
@media (max-width: 600px) {
  .aboveTableText {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}

.toShopLinkWrapper {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 5rem;
}
@media (max-width: 600px) {
  .toShopLinkWrapper {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}

.toShopLink {
  background-color: #065a60;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  color: #ffffff;
  font-size: 1.25rem;
  height: 4.5rem;
  width: 18rem;
  max-width: 18rem;
  border-radius: 10px;
  border: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

@media (max-width: 600px) {
  .toShopLink {
    height: 3.5rem;
    width: 15rem;
    max-width: 15rem;
  }
}

.toShopLink:hover {
  transform: scale(1.05);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  background-color: #08565c;
  transform: translateY(-0.25rem);
  transition: all 0.15s;
}

.toShopLink:active {
  transform: translateY(0);
  transition: all 0.15s;
}
