.eventsTitle {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-size: 4.5rem;
  letter-spacing: 0.25rem;
  background: linear-gradient(to right bottom, #420c47, #065a60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboveTableText {
  text-align: center;
  font-size: 1.25rem;
}
