.wholeWrapper {
  height: 100%;

  @media only screen and (max-width: 75em) {
    font-size: 95%;
  }
}

.mainTitle {
  position: absolute;
  top: 9vw;
  margin: auto;
  left: 5rem;
  right: 5rem;

  background: linear-gradient(to right bottom, #420c47, #065a60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 4.3rem;
  letter-spacing: 1.5rem;
  z-index: 2;

  @media only screen and (max-width: 75em) {
    font-size: 3.3rem;
    top: 12vw;
  }

  @media (max-width: 62.5em) {
    font-size: 3rem;
    top: 15vw;
  }
}

.aboveMainImage {
  height: 35vh;
  /* background-color: #f3fafc; */
  background: linear-gradient(to right, #e6f0f6, #f8fdfe, #ffffff);
}

.mainImgWrapper {
  position: relative;
  height: 80vh;
  max-height: 80vh;

  @media only screen and (max-width: 62.5em) {
    height: 70vh;
    max-height: 70vh;
  }
}

.mainNav {
  background-color: #212f45;
  color: #fff;
  /* font-family: "Playfair Display", serif; */
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 3.75em;
  position: sticky;
  top: 0;
  z-index: 3;

  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
}

.headerLogo {
  border-radius: 50%;
}

.navLogoWrapper {
  /* flex-grow: 0.5; */
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;
}

.navItemsWrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 12;
  padding-right: 6rem;
  padding-left: 4rem;

  @media only screen and (max-width: 62.5em) {
    padding-right: 4rem;
    padding-left: 2rem;
  }
}

.mainNav li {
  list-style-type: none;
}

.mainNav li:hover {
  transform: scale(1.2);
  background: #32b8b3;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainNav a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1.5px;
  font-size: 1.3rem;

  @media only screen and (max-width: 62.5em) {
    font-size: 1.1rem;
  }
}

.SignInAndCart {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #fff;
  flex-grow: 1;
}

.loginButton:hover {
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cart {
  /* margin-left: 2rem; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navCartText {
  /* margin-left: -1rem; */

  padding-right: 2rem;

  @media only screen and (max-width: 62.5em) {
    padding-right: 2rem;
    padding-left: 1.25rem;
  }
}

.cart_btn {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  margin-left: 2.75rem;
}

.navCartNumberIcon {
  position: relative;

  top: 0;
  right: 0;
  transform: translate(80%, -10%);
  font-size: 1.45rem;
  border-radius: 50%;
  width: 1rem;
  height: 4rem;

  @media only screen and (max-width: 62.5em) {
    transform: translate(25%, -1%);
    font-size: 1.25rem;
  }
}

.banner {
  height: 50vh;
  background-color: #212f45;

  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 62.5em) {
    height: 60vh;
  }
}

.bannerTextWrapper {
  width: 46%;
  height: 75%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;

  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 3.25rem;
  letter-spacing: 0.1rem;

  @media only screen and (max-width: 75em) {
    font-size: 2.3rem;
  }

  @media only screen and (max-width: 62.5em) {
    font-size: 2rem;
  }
}

.bannerShopLink {
  text-decoration: none;
  color: #2f9488;
  letter-spacing: 0.1rem;
  font-size: 3rem;
}

.bannerShopLink:hover {
  transform: scale(1.25);
}

.bannerHere {
  font-size: 3.25rem;
  color: #2f9488;
  text-decoration: underline;
}

.marketandMessageWrapper {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.marketMessage {
  font-size: 3rem;
  margin-top: 2rem;
  font-family: "Playfair Display", serif;
  color: #065a60;
}

.lowerBanner {
  height: 60vh;
  width: 100%;

  background-color: #065a60;
  color: #fff;
  font-size: 1.9rem;

  font-family: "Playfair Display", serif;

  letter-spacing: 0.1rem;
  line-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 75em) {
    font-size: 1.5rem;
  }

  @media only screen and (max-width: 62.5em) {
    font-size: 1.25rem;
  }
}

.lowerBannerText {
  width: 60%;
  letter-spacing: 0.1rem;
  display: flex;
  text-align: center;
}

.footer {
  height: 15vh;
  background-color: #212f45;
  color: #fff;
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footerLogo {
  border-radius: 50%;

  @media only screen and (max-width: 75em) {
  }
}

.copyWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footerCopy {
  padding-right: 3px;
  padding-top: 6px;
}

.socialWrapper {
  display: flex;
  align-items: center;
}
