.itemTitle {
  text-align: center;
  margin-top: 5rem;

  font-size: 4.5rem;
  letter-spacing: 0.25rem;
  background: linear-gradient(
    to right bottom,
    oklch(28.05% 0.112 324.24),
    oklch(44.67% 0.071 203.29)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 675px) {
  .itemTitle {
    font-size: 4rem;
    margin-top: 3rem;
  }
}
@media (max-width: 575px) {
  .itemTitle {
    font-size: 3.5rem;
  }
}
@media (max-width: 520px) {
  .itemTitle {
    font-size: 3rem;
  }
}
@media (max-width: 450px) {
  .itemTitle {
    font-size: 2.5rem;
  }
}
@media (max-width: 390px) {
  .itemTitle {
    font-size: 2rem;
  }
}

.mainWrapper {
  display: flex;
  height: 80vh;

  /* justify-content: space-around; */
}
@media (max-width: 900px) {
  .mainWrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    height: 120vh;
  }
}

.imgWrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}
@media (max-width: 900px) {
  .imgWrapper {
    width: 70%;
    margin-top: -7rem;
  }
}
@media (max-width: 450px) {
  .imgWrapper {
    margin-top: -12rem;
    margin-bottom: -2rem;
  }
}
@media (max-width: 400px) {
  .imgWrapper {
    margin-top: -14rem;
    margin-bottom: -4rem;
  }
}

.itemImg {
  border-radius: 10px;
  object-fit: contain;
}

.orderAndDescWrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 900px) {
  .orderAndDescWrapper {
    width: 70%;
  }
}

.innerorderAndDescWrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 900px) {
  .innerorderAndDescWrapper {
    width: 100%;
  }
}

.addToCartButton {
  background-color: #065a60;
  /* box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3); */
  color: #ffffff;
  font-size: 1.25rem;
  height: 4.5rem;
  width: 24rem;
  max-width: 26rem;
  /* border-radius: 3%; */
  border: white;
  margin-bottom: 2rem;
}
@media (max-width: 1050px) {
  .addToCartButton {
    height: 4rem;
    width: 22rem;
    max-width: 24rem;
  }
}
@media (max-width: 900px) {
  .addToCartButton {
    margin-top: 2rem;
  }
}
@media (max-width: 520px) {
  .addToCartButton {
    height: 3.5rem;
    width: 18rem;
    max-width: 20rem;
  }
}
@media (max-width: 450px) {
  .addToCartButton {
    margin-top: 0;
    height: 3.25rem;
    width: 16rem;
    max-width: 18rem;
  }
}
@media (max-width: 400px) {
  .addToCartButton {
    margin-top: 0;
    height: 3rem;
    width: 14rem;
    max-width: 16rem;
  }
}

.cartAddOrRemoveIfItemIsInCartAlreadyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
@media (max-width: 1050px) {
  .cartAddOrRemoveIfItemIsInCartAlreadyContainer {
    margin-bottom: 1rem;
  }
}
@media (max-width: 900px) {
  .cartAddOrRemoveIfItemIsInCartAlreadyContainer {
    margin-top: 2rem;
  }
}
@media (max-width: 520px) {
  .cartAddOrRemoveIfItemIsInCartAlreadyContainer {
    margin-top: 1rem;
  }
}
@media (max-width: 450px) {
  .cartAddOrRemoveIfItemIsInCartAlreadyContainer {
    margin-top: 0;
  }
}

.cartAddOrRemoveIfItemIsInCartAlready {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.howManyInCartTextWhenItemIsInCart {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.35rem;
  letter-spacing: 0.1rem;
}
@media (max-width: 400px) {
  .howManyInCartTextWhenItemIsInCart {
    font-size: 1.15rem;
  }
}

.addToCartSpan {
  padding-right: 0.5rem;
  font-size: 2.25rem;
}

.plusToCartBtn,
.minusFromCartBtn {
  background-color: #065a60;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  color: #ffffff;
  font-size: 1.25rem;
  height: 3rem;
  width: 4rem;
  max-width: 6rem;
  border-radius: 50%;
  border: white;
}
@media (max-width: 1050px) {
  .plusToCartBtn,
  .minusFromCartBtn {
    height: 2.5rem;
    width: 3.5rem;
    max-width: 5rem;
  }
}

.removeFromCartButton {
  background-color: #ee2e31;
  color: #fff;
  font-size: 1.15rem;
  width: 6rem;
  border-radius: 10%;
}
@media (max-width: 1050px) {
  .removeFromCartButton {
    width: 5.5rem;
  }
}

.addToCartButton:hover,
.removeOneFromCartBtn:hover,
.addOneToCartBtn:hover {
  transform: scale(1.05);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  background-color: #08565c;
  transform: translateY(-0.25rem);
  transition: all 0.15s;
}

.addToCartButton:active,
.removeOneFromCartBtn:active,
.addOneToCartBtn:active {
  transform: translateY(0);
  transition: all 0.15s;
}

.removeOneFromCartBtn,
.addOneToCartBtn {
  background-color: #065a60;
  /* box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3); */
  color: #ffffff;
  font-size: 1.25rem;
  height: 4.5rem;
  width: 8rem;
  max-width: 10rem;
  border-radius: 3%;
  border: white;
  margin-bottom: 2rem;
}

.addOneToCartBtn {
}

.hotToGetIt {
  text-align: center;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
}
@media (max-width: 1050px) {
  .hotToGetIt {
    font-size: 1.25rem;
  }
}

.radioButtonsWrapper {
  /* display: flex; */
}

.shippingRadio {
  margin: 1rem;
  font-size: 1.25rem;
  letter-spacing: 0.2rem;
}
@media (max-width: 1050px) {
  .shippingRadio {
    font-size: 1.15rem;
  }
}

.pickupRadio {
  margin: 1rem;
  font-size: 1.25rem;
  letter-spacing: 0.2rem;
}
@media (max-width: 1050px) {
  .pickupRadio {
    font-size: 1.15rem;
  }
}

.itemDescriptionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.itemDescription {
  font-size: 1.15rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
@media (max-width: 1500px) {
  .itemDescription {
    margin-top: 0.5rem;
  }
}
@media (max-width: 1260px) {
  .itemDescription {
    font-size: 1rem;
  }
}
@media (max-width: 1050px) {
  .itemDescription {
    margin-top: 0.25rem;
  }
}

.descriptionSpan {
  text-align: center;
  font-size: 1.15rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding-top: 2rem;
}
@media (max-width: 1500px) {
  .descriptionSpan {
    padding-top: 1rem;
  }
}
@media (max-width: 1260px) {
  .descriptionSpan {
    padding-top: 0.75rem;
  }
}
