.gridWrapper {
  width: 75%;
  /* height: 90vw; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 4rem;
}
@media (max-width: 750px) {
  .gridWrapper {
    width: 100%;
    grid-gap: 3rem;
  }
}

.shopTitle {
  text-align: center;
  margin-top: 5rem;
  font-size: 4.5rem;
  letter-spacing: 0.25rem;
  background: linear-gradient(to right bottom, #420c47, #065a60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 975px) {
  .shopTitle {
    font-size: 4rem;
  }
}
@media (max-width: 850px) {
  .shopTitle {
    font-size: 3.5rem;
  }
}
@media (max-width: 750px) {
  .shopTitle {
    font-size: 3rem;
  }
}
@media (max-width: 650px) {
  .shopTitle {
    font-size: 2.5rem;
  }
}
@media (max-width: 575px) {
  .shopTitle {
    font-size: 2rem;
  }
}
@media (max-width: 475px) {
  .shopTitle {
    font-size: 1.75rem;
  }
}
@media (max-width: 435px) {
  .shopTitle {
    font-size: 1.5rem;
  }
}
@media (max-width: 400px) {
  .shopTitle {
    font-size: 1.25rem;
  }
}

.buttonWrapper {
  padding: 7rem;
  padding-bottom: 9rem;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 800px) {
  .buttonWrapper {
    padding: 5rem;
  }
}
@media (max-width: 500px) {
  .buttonWrapper {
    padding: 3rem;
  }
}
@media (max-width: 450px) {
  .buttonWrapper {
    padding: 2rem 3rem;
  }
}
@media (max-width: 425px) {
  .buttonWrapper {
    padding: 3rem 2rem;
  }
}

.productsButton,
.eventsButton {
  background-color: #065a60;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 1.25rem;
  height: 4rem;
  width: 15rem;
  max-width: 18rem;
  border-radius: 3%;
  border: white;
}
@media (max-width: 800px) {
  .productsButton,
  .eventsButton {
    height: 3.5rem;
    width: 12rem;
    max-width: 15rem;
  }
}
@media (max-width: 725px) {
  .productsButton,
  .eventsButton {
    font-size: 1rem;
  }
}
@media (max-width: 650px) {
  .productsButton,
  .eventsButton {
    margin: 1rem;
  }
}
@media (max-width: 550px) {
  .productsButton,
  .eventsButton {
    font-size: 0.9rem;
    height: 3rem;
    width: 14rem;
    max-width: 17rem;
  }
}
@media (max-width: 500px) {
  .productsButton,
  .eventsButton {
    width: 15rem;
    max-width: 18rem;
  }
}

.productsButton:hover,
.eventsButton:hover {
  transform: scale(1.05);
  box-shadow: 0 1.1rem 3.1rem rgba(0, 0, 0, 0.4);
  background-color: #08565c;
  transform: translateY(-0.5rem);
  transition: all 0.15s;
}

.productsButton:active,
.eventsButton:active {
  transform: translateY(0);
  transition: all 0.15s;
}

.cardWrapper {
  max-width: 28rem;
  min-width: 25rem;
  height: 36rem;
  max-height: 34rem;
  background: linear-gradient(to right bottom, #065a60, #420c47);
  font-family: "Playfair Display", serif;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 1.6rem;

  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s;

  /* grid-column: 2 / 4; */
}

@media (max-width: 550px) {
  .cardWrapper {
    max-width: 25rem;
    min-width: 22rem;
    margin-right: 5rem;
  }
}
@media (max-width: 440px) {
  .cardWrapper {
    /* max-width: 23rem;
    min-width: 20rem; */
    margin-right: 6rem;
  }
}

@media (max-width: 420px) {
  .cardWrapper {
    max-width: 24rem;
    min-width: 21rem;
    margin-right: 10rem;
  }
}
@media (max-width: 405px) {
  .cardWrapper {
    max-width: 23rem;
    min-width: 20rem;
    margin-right: 12rem;
  }
}
@media (max-width: 390px) {
  .cardWrapper {
    max-width: 22rem;
    min-width: 19rem;
    height: 35rem;
    max-height: 33rem;
    margin-right: 12rem;
  }
}
@media (max-width: 390px) {
  .cardWrapper {
    max-width: 21rem;
    min-width: 18rem;
    height: 34rem;
    max-height: 32rem;
    margin-right: 12rem;
  }
}

@media (min-width: 499px) {
  .cardWrapper:hover .cardImage {
    transform: scale(0.9) translateY(0.4rem);
  }
}

@media (min-width: 499px) {
  .cardWrapper:hover .cardItemTitle {
    transform: translateY(-1.2rem);
  }
}

@media (min-width: 499px) {
  .cardWrapper:hover .cardItemPrice {
    transform: translateY(-01.5rem) scale(0.9);
    padding-bottom: 2rem;
  }
}

.cardImage {
  border-radius: 10%;
  margin-top: 1.25rem;
}
@media (max-width: 550px) {
  .cardImage {
    /* margin-left: 1rem;
    margin-right: 1rem; */
    transform: scale(0.9);
  }
}
@media (max-width: 500px) {
  .cardImage {
    /* margin-left: 1rem;
    margin-right: 1rem; */
    transform: scale(0.85);
    margin-top: 4rem;
  }
}

@media (max-width: 410px) {
  .cardImage {
    /* margin-left: 1rem;
    margin-right: 1rem; */
    transform: scale(0.85);
  }
}

.cardItemTitle {
  padding-top: 0.75rem;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media (max-width: 550px) {
  .cardItemTitle {
    padding-top: 0rem;
    margin-top: -1rem;
    /* font-size: 1.15rem; */
    width: 85%;
  }
}
@media (max-width: 390px) {
  .cardItemTitle {
    padding-top: 0rem;
    margin-top: -1rem;
    font-size: 1.15rem;
    width: 90%;
  }
}
.cardItemPrice {
  padding-bottom: 2.75rem;
  height: 1rem;
}
@media (max-width: 550px) {
  .cardItemPrice {
    padding-bottom: 3.75rem;
  }
}

.cardMoreDetails {
  color: white;

  width: 0;
  display: none;
}
@media (max-width: 500px) {
  .cardMoreDetails {
    display: inline;

    width: fit-content;
    transform: translateY(-1rem);
    padding-bottom: 5rem;
  }
}
@media (max-width: 380px) {
  .cardMoreDetails {
    display: inline;
    font-size: 1.2rem;
    width: fit-content;
    transform: translateY(-1rem);
    padding-bottom: 5rem;
  }
}

@media (min-width: 499px) {
  .cardWrapper:hover .cardMoreDetails {
    display: inline;

    width: fit-content;
    transform: translateY(-1.75rem);
    padding-bottom: 1.25rem;
  }
}
